<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}一锅米饭{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'nav.html' %}
<a href="/manhua/douluodalu.html"><img class="img-thumbnail" src="http://image.samanlehua.com/mh/25933.jpg-noresize.webp" width="120px" height="120px"></a>
</body>
</html>